<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text{
          color: blueviolet;
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">text</h6>
    <p>  <span style="color: aquamarine">Этот текст вот так отображается</span>123123123 123123123 123123123 123123123 123123123 123123123 123123123 123123123
        123123123 123123123 123123123 </p>
    <a href="https://rickandmorty.mult-fan.tv/season.php?id=9" target="_blank"> python</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDBRg77WZ2HUNPkmBZNbnnsJwgT2-IZTfGgAwFj5UzYg&s=10"
         style="width: 350px">
    <ul>
        <li>item</li>
        <li>item2</li>
    </ul>
    <ol>
        <li>test</li>
        <li>promt</li>
    </ol>
    <form action="/action" method="post">
        <input type="text" value="12345" placeholder="text">
        <input required type="email" value="12345" placeholder="email">
        <input type="password" value="12345" placeholder="email">
        <textarea placeholder="123">test</textarea>
        <button type="submit" disabled>text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>exp 1</td>
            <td>exp 2</td>
            <td>exp 3</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>exp 1</td>
            <td>exp 2</td>
            <td>exp 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>